<div class="row" style="margin-top:30px;">
  <div class="col-md-6 mx-auto text-center">
      <div class="card text-white bg-primary col-md-6 mx-auto text-center" style="max-width: 20rem;">
          <div class="card-header">Oops</div>
          <div class="card-body">
             <p class="card-text">Página no encontrada</p>
          </div>     <div class="card-body">
              <a href="/" class="btn btn-primary btn-lg"><i class="fa fa-home"></i> IR AL INICIO</a>
            </div>
        </div>
   
  </div>
</div>